/practicas_dirigidas_estructuras_de_datos/
/semana_2/ejemplo1/nbproject/private/
/semana_2/ejemplo1/build/
/semana_2/ejercicio2_v2/nbproject/private/
/semana_2/ejercicio2_v2/build/
/semana_3/ejercicio1/nbproject/private/
/semana_3/ejercicio1/build/
/semana_4/ejercicio1/nbproject/private/
/semana_5/ejercicio01/nbproject/private/
/semana_5/ejercicio02/nbproject/private/
/semana_5/ejercicio01/build/
/semana_5/testJFrame/nbproject/private/
/semana_5/testJFrame/build/
/semana_5/ejercicio03/nbproject/private/
/semana_5/ejercicio03/build/
/semana_3/ejercicio2/nbproject/private/
/semana_3/ejercicio2/build/
/semana_4/ejercicio2/nbproject/private/
/semana_4/ejercicio2/build/
/aux/semana_3/ejercicio1/nbproject/private/
/aux/semana_3/ejercicio2/build/
/aux/semana_3/ejercicio2/nbproject/private/
/aux/semana_4/ejercicio1/nbproject/private/
/aux/semana_4/ejercicio2/build/
/aux/semana_4/ejercicio2/nbproject/private/
/semana_4/demoUML/nbproject/private/
/semana_4/demoUML/build/
/semana_6/proyecto_uml_v1/nbproject/private/
/semana_6/proyecto_uml_v1/build/
/semana_6/ejercicio1/nbproject/private/
/semana_6/ejercicio2/nbproject/private/
/semana_6/ejercicio1/build/
/semana_7/repaso_parcial/ejercicio2/nbproject/private/
/semana_7/repaso_parcial/ejercicio2/build/
/semana_7/repaso_parcial/ejercicio1/nbproject/private/
/semana_7/repaso_parcial/ejercicio1/build/
/semana_7/MVC_Suma/
/semana_7/ejercicio01/target/
/semana_8/fsm_test01/nbproject/private/
/semana_9/fsm_test01/nbproject/private/
/semana_9/fsm_test02/nbproject/private/
/semana_9/fsm_test02/build
/semana_9/fsm_test01/build/
/semana_9/ejercicio01/nbproject/private/
/semana_9/ejercicio01/build/
