/practicas_dirigidas_estructuras_de_datos/
/semana_2/ejemplo1/nbproject/private/
/semana_2/ejemplo1/build/
/semana_2/ejercicio2_v2/nbproject/private/
/semana_2/ejercicio2_v2/build/
/semana_3/ejercicio1/nbproject/private/
/semana_3/ejercicio1/build/
